.Pimg{
  display: inline-block;
  float: left;
  cursor: pointer;
  transition: .5s;
}

.Pimg:Hover{
  width: 60%;
}

.Cimg{
  display: inline-block;
  float: left;
  cursor: pointer;
  transition: .5s;
  margin-top: 30%;
}

@media screen and (max-width: 1000px){
  .page_2{
    margin-left: 10%;

  }
}

@media screen and (max-width: 1000px){
  .Pimg:hover{
    width: 50%;
  }
}
